<!DOCTYPE html>
<html>
<head>
  <title>Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <h1 class="logo">Andrew's web app</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav></strong>
  </header>
  <div class="container">
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>
