body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Header area
 */

header {
  background-color: #DF8887;
  height: 35px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform:  uppercase;
  float: left;
}

header.h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center body area
 */

.container {
  width: 95%;
  margin: 10px auto;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 10;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li +li {
  margin-left: 35px;
  margin-right: 10px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}
